In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import numpy as np

In [7]:
ls ../sneaker_scraper/

items.json        main_sneakers.db  scrapy.cfg        shoes/

In [8]:
conn = sqlite3.connect("../sneaker_scraper/main_sneakers.db")

In [14]:
df_before_2001 = pd.read_sql_query("select * from before_2001;", conn)
df_2001 = pd.read_sql_query("select * from year2001;", conn)
df_2002 = pd.read_sql_query("select * from year2002;", conn)

In [16]:
df_2001

,id,sneaker,price,brand,date
0,1,['Jordan 16 OG Low Black / Chrome'],265,Jordan,release: 09/29/2001
1,2,['Jordan 11 Retro Low Pink Snakeskin (2001) (W)'],900,Jordan,release: 05/26/2001
2,3,['Jordan 11 Retro Low Columbia Blue (2001)'],222,Jordan,release: 04/14/2001
3,4,['Jordan 11 Retro Low Cherry (2001)'],280,Jordan,release: 04/14/2001
4,5,['Jordan 11 Retro Low Metallic Silver (W)'],380,Jordan,release: 04/14/2001
5,6,['Jordan 11 Retro Low Citrus (2001) (W)'],575,Jordan,release: 04/14/2001
6,7,['Air Force 1 High Sheed Black Patent'],279,Air,release: 04/01/2001

In [ ]:
#make all csv to clean later