In [30]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import numpy as np

In [47]:
!ls

Untitled.ipynb   main_data.ipynb  sneaker_data.csv
data             random

In [67]:
sneakers = pd.read_csv('sneaker_data.csv')

In [68]:
sneakers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6630 entries, 0 to 6629
Data columns (total 5 columns):
Unnamed: 0    6630 non-null int64
sneaker       6630 non-null object
price         6630 non-null int64
brand         6330 non-null object
date          6630 non-null object
dtypes: int64(2), object(3)
memory usage: 259.1+ KB

In [74]:
sneakers

,sneaker,price,brand,date
0,"['LeBron 11', 'Dunkman', 'LeBron 11', 'Dunkman']",170,lebron,['release: 12/31/2013']
1,"['KD 6', 'Energy', 'KD 6', 'Energy']",135,kd,['release: 12/31/2013']
2,"['Jordan 5 Retro', '3Lab5 Infrared', 'Jordan 5...",160,jordan,['release: 12/31/2013']
3,['Nike Flyknit Racer Sail Volt'],254,nike,['release: 12/30/2013']
4,['Air Foamposite One Oregon Ducks'],470,air,['release: 12/30/2013']
...,...,...,...,...
6625,"['Air Stab', 'Dave White Neon', 'Air Stab', 'D...",277,air,['release: 01/01/2010']
6626,"['Kobe 5', 'Miles Davis', 'Kobe 5', 'Miles Dav...",350,kobe,['release: 01/01/2010']
6627,"['Air Maxem 1+', 'Air Attack', 'Air Maxem 1+',...",425,air,['release: 01/01/2010']
6628,['New Balance 1500 Colette Pig Skin Red'],666,balance,['release: 01/01/2010']
6629,['Air Force 1 High Futura Be True Syracuse'],699,air,['release: 01/01/2010']